<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
   <add key="srcForeCastTimesheet" value="Fact.ForecastTimesheet" />
    <add key="srcActualTimesheet" value="Fact.Timesheet" />
    <add key="srcEmployee" value="Dimension.Employee" />
    <add key="srcProject" value="Dimension.Project" />
    <add key="srcCustomer" value="Dimension.Customer" />
    <add key="srcTask" value="Dimension.Task" />
    <add key="StafResource" value="stafprod.dbo.Resources" />
    <add key="StafProject" value="stafprod.dbo.Projects" />
    <add key="StafHours" value="stafprod.dbo.ProjectResourceHours" />

     <!--<add key="srcForeCastTimesheet" value="stg.ForecastTimesheet"/>
    <add key="srcActualTimesheet" value="stg.ActualTimesheet"/>
    <add key="srcEmployee" value="stg.Employee"/>
    <add key="srcProject" value="stg.Project"/>
    <add key="srcCustomer" value="stg.Customer"/>
    <add key="srcTask" value="stg.Task"/>-->
    
    <add key="timeout" value="21600" />
  </appSettings>
  <connectionStrings>
    <add name="ResourcePlanner" connectionString="Server=tcp:resourceplanneruat.database.windows.net,1433;Initial Catalog=ResourcePlanner;Persist Security Info=False;User ID=rpdbadmin;Password=Insight123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="InsightLEDB" connectionString="Data Source=tcp:skpr0q0czi.database.windows.net,1433;Initial Catalog=dwhmirror;User ID=staf_admin@skpr0q0czi;Password=R3dm3t@lSt@f;" />
    <add name="StafDB" connectionString="Data Source=tcp:skpr0q0czi.database.windows.net,1433;Initial Catalog=stafprod;User ID=staf_admin@skpr0q0czi;Password=R3dm3t@lSt@f;" />
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="Console" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>