<article class=""  style="position:absolute;top:108px;width: calc(100% - 56px)">
    <div class="row">
        <timespan-grid id="resource"
                        [applyTrigger]="applyTrigger"
                        [gridConfig]="gridConfig"
                        [queryConfig]="queryConfig"
                        (dataRequested)="dataRequested($event)">
        </timespan-grid>
    </div>
    <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary" id="clearButton" (click)="close()">Close</button>
        </div>
    </div>
</article>