<article class="">
    <div class="formrow">
        <select id="AssignmentProjectSelector" class="project-selector"></select>
        <a id="projectModalLoad">
            <div>
                <img src="/Images/IRMT_Icons_NewProjectBtn.png" alt="Add project" (click)="addProject()" />
            </div>
        </a>
    </div>
    <div class="formrow">
        <select id="assignmentPositionSelector" class="position-selector" multiple="multiple"></select>
    </div>
    <div class="formrow">
        <select id="assignmentPracticesDropdown" class="form-control">
            <option selected disabled value="-2">Select a practice</option>
        </select>
    </div>
    <div class="formrow">
        <select id="assignmentSubpracticesDropdown" class="form-control">
            <option value="-2" selected disabled>Select a subpractice</option>
        </select>
    </div>
    <div class="formrow">
        <select id="assignmentDOWSelector" class="dayofweek-selector" multiple="multiple" [(ngModel)]="daysOfWeek">
            <option value="2" selected="selected">Mon</option>
            <option value="3" selected="selected">Tue</option>
            <option value="4" selected="selected">Wed</option>
            <option value="5" selected="selected">Thur</option>
            <option value="6" selected="selected">Fri</option>
        </select>
    </div>
    <div class="formrow">
        <span>
            Start Date:<div class='input-group date' id='startdatepicker' data-date-format="YYYY-MM-DD">
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </span>
    </div>
    <div class="formrow">
        <span>
            End Date:<div class='input-group date' id='enddatepicker'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </span>
    </div>
    <div class="formrow">
        <div class="form-group">
            <label for="hoursPerDay">Hours per day:</label>
            <input type="number" ng-required="required" class="form-control" min="0" max="16" id="hoursPerDay" [(ngModel)]="hoursPerDay">
        </div>
    </div>
</article>