<article class="">
    <div class="formrow">
        <label>project</label><br />
        <select id="AssignmentProjectSelector" class="project-selector"></select>
        <a id="projectModalLoad">
            <div>
                <img src="/Images/IRMT_Icons_NewProjectBtn.png" alt="Add project" (click)="addProject()" />
            </div>
        </a>
    </div>
    <div class="formrow">
        <label>Position</label><br />
        <select id="assignmentPositionSelector" class="position-selector"></select>
    </div>
    <div class="formrow">
       <label>Practice</label>
       <select id="assignmentPracticesDropdown" class="form-control" [(ngModel)]="selectedPractice">
            <option *ngFor="let option of getPractices()" [value]="option.Id">{{option.Name}}</option>
        </select>
    </div>
    <div class="formrow">
        <label>Sub Practice</label>
       <select id="assignmentSubpracticesDropdown" class="form-control" [(ngModel)]="selectedSubPractice">
            <option *ngFor="let option of getSubPractices()" [value]="option.Id">{{option.Name}}</option>
        </select>
   </div>
    <div class="formrow">
        <select id="assignmentDOWSelector" class="dayofweek-selector" multiple="multiple" [(ngModel)]="daysOfWeek">
            <option value="2" selected="selected">Mon</option>
            <option value="3" selected="selected">Tue</option>
            <option value="4" selected="selected">Wed</option>
            <option value="5" selected="selected">Thur</option>
            <option value="6" selected="selected">Fri</option>
        </select>
    </div>
    <div class="formrow" style="width:180px">
        <label>Start Date</label>
        <input type='date' class="form-control" [(ngModel)]="startDate" />
    </div>
    <div class="formrow" style="width:180px">
        <label>End Date</label>
        <input type='date' class="form-control" [(ngModel)]="endDate" />
    </div>
    <div class="formrow">
        <label>Hours per day:</label>
        <input type="number" ng-required="required" class="form-control" min="0" max="16" [(ngModel)]="hoursPerDay" style="width:180px">
    </div>
</article>