body {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
}

.flexGrid {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 38px;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
}

.flexGrid .header {
    flex: 0 0 108px;
    position: relative;
}

.flexGrid .body {
    flex: 1 1 auto;
    position: relative;
}

#myGrid {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

#detailAccordion {
    position: fixed;
    bottom: 0;
    width: 100%;    
}

#filterAccordion {
    width: 100%;    
}

/*.panel-default > .panel-heading{
    background: #808080;
}

.panel-heading {
    padding: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-title a {
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    display: block;
    outline: none;
}

.panel-title a:hover, .panel-title a:focus, .panel-title a:active {
    text-decoration: none;
    outline: none;
}*/ 

.panel-group {
    margin-bottom: 0px;
}

.header-nav {
    height:100px;
    background:#FFFFFF;
    position: fixed;
    width: 100%;
    margin:0px auto;
    z-index: 1000
}

.header-buttoncontainer {
    float:right;
    padding-top: 0px;
    position: absolute;
    right: 0px;
    padding-right: 5px;
    width: 290px;
    /*background-color: */
}

.headerbuttonbox  {
    float:right;
    width: 90px;
    height: 100px;
    /*margin-left: 5px;*/
    background-color: #FFF;
    border-left: 5px #A6A6A6;
}
.headerbutton {
    margin-top: 25px;
    margin-left: 20px;
}

.appLogo {
    float: left;

    position: absolute;
    left: 0px;
    padding-top : 25px;
    padding-left: 25px;
}

.modal.modal-wide .modal-dialog {
  width: 90%;
  padding-top: 120px;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

#tallModal .modal-body p { margin-bottom: 900px }