.filterPanel {
    height: 18%;
}
    .filterPanel .tags {
        width: 30%;
    }
    .flatPanel .firstRow {
        padding-bottom:2px;
    }
    .filterPanel .col-sm-2 {
    }
    .filterPanel select {
        width: 100%;
        height: 24px;
        padding-top:1px;
        padding-bottom: 1px;
        padding-left: 4px;
        background-color: #fff;
    }
    .filterPanel .buttons {
        margin-top:5px;
    }
    .filterPanel .buttons button.btn.btn-primary {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .filterPanel .panel-body {
        background-color: #C8C8C8;
        padding: 2px;
        height: 100%;
    }
    .filterPanel ul#myTags.tagit.ui-widget.ui-widget-content.ui-corner-all {
        border-bottom: 2px solid black;
    }
    .filterPanel #myTags > li.tagit-choice.ui-widget-content.ui-state-default.ui-corner-all.tagit-choice-editable {
        font-size: 10pt;
        font-weight: normal;
        color: #534742;
    }
    .filterPanel #regionsDropdown {
        color: #FFFFFF;
    }