<div class="resourceDetail" [style.display]="visible ? 'block' : 'none'">
    <div class="title" (click)="visible=!visible">
        <b>{{title}}</b>
        <span style="padding-left: 20px;display:none">
            <span style="border: 1px solid navy">Projects</span>&nbsp;
            <span style="border: 1px solid navy">Profile</span>
        </span>
    </div>
    <div>
        <resource-projects [resourceId]="resourceId" (projectViewRequested)="projectViewRequested($event)"></resource-projects>
        <resource-profile [resourceId]="resourceId" style="display:none"></resource-profile>
    </div>
</div>