<article class="editColumns" [style.display]="visible ? 'block' : 'none'">
    <div>
        <h3>Edit Columns</h3>
        <div class="panel">

            <div class="container">
                <h2>Main Resource Grid</h2>
                <br>
                <div *ngFor="let option of resourcePageColumnOptions">
                    <span>
                        <ui-switch [checked]="!option.Hidden"
                                   (change)="option.Hidden = !option.Hidden" 
                                    color="#CC0057" size="small"></ui-switch>
                    </span>
                    <span>{{option.ColumnName}}</span>
                    <br>
                </div>
            </div>
            <div class="container">
                <h2>Resource Detail Grid</h2>
                <br>
                <div *ngFor="let option of detailPageColumnOptions">
                    <span>
                        <ui-switch [checked]="!option.Hidden"
                                   (change)="option.Hidden = !option.Hidden"
                                   color="#CC0057" size="small"></ui-switch>
                    </span>
                    <span>{{option.ColumnName}}</span>
                    <br>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button type="button" class="btn btn-primary" (click)="save()">Apply</button>
            <button type="button" class="btn btn-primary" (click)="close()">Cancel</button>
        </div>
    </div>
</article>