<article class="editColumns" [style.display]="visible ? 'block' : 'none'">
    <div>
        <h3>Edit Columns</h3>
        <div class="panel">

            <div class="container">
                <h2>Main Resource Grid</h2>
                <br>
                <div *ngFor="let col of resourcePageColumns">
                    <span>
                        <ui-switch [checked]="!optionService.getResourceColumnOption(col)"
                                   (change)="optionService.setResourceColumnOption(col)" 
                                    color="#CC0057" size="small"></ui-switch>
                    </span>
                    <span>{{col}}</span>
                    <br>
                </div>
            </div>
            <div class="container">
                <h2>Resource Detail Grid</h2>
                <br>
                <div *ngFor="let col of detailPageColumns">
                    <span>
                        <ui-switch [checked]="!optionService.getDetailColumnOption(col)"
                                   (change)="optionService.setDetailColumnOption(col)"
                                   color="#CC0057" size="small"></ui-switch>
                    </span>
                    <span>{{col}}</span>
                    <br>
                </div>
            </div>
        </div>
                <div class="buttons">
                    <button type="button" class="btn btn-primary" (click)="close()">Apply</button>
                </div>
            </div>
</article>