<article class="resourceProjects">
    <timespan-grid id="resourceProjects"
                   [applyTrigger]="applyTrigger"
                   [periodScrollTrigger]="periodScrollTrigger"
                   [gridConfig]="gridConfig"
                   [queryConfig]="queryConfig"
                   (dataRequested)="dataRequested($event)"
                   (rowSelected)="rowSelected($event)"
                   (dataCellEditorRequested)="dataCellEditorRequested($event)"
                   (dataCellEditRequested)="dataCellEditRequested($event)"
                   >
    </timespan-grid>
    <div class="buttons">
        <button type="button" class="btn btn-primary" id="deleteButton" (click)="deleteAssignment()">Delete Entry</button>
    </div>
</article>