<div class="hoursEditor" [style.display]="visible ? 'block' : 'none'">
    <div>
        <h3>Editor</h3>
        <div class="controls">
            <div>
                <select class="assignment-editor-dayofweek" multiple="multiple"></select>
            </div>
            <p></p>
            <div style="float: left">
                <label>Hours per day:</label>
            </div>
            <div>
                <input type="number" ng-required="required" min="0" max="24" [(ngModel)]="assignment.hoursPerDay">
            </div>
        </div>
        <div class="buttons">
            <div>
                <button type="button" class="btn btn-primary" (click)="close()">Close</button>
                <button type="button" class="btn btn-primary" (click)="save()">Save Changes</button>
            </div>
        </div>
    </div>
</div>