<div class="hoursEditor" [style.display]="visible ? 'block' : 'none'">
    <div>
        <h3>Hours Per Day Editor</h3>
        <div class="controls">
            <div *ngFor="let day of [0,1,2,3,4,5,6]">
                <div class="hoursLabel">
                    <label>{{dayNames[day]}}:</label>
                </div>
                <div class="hoursPerDay">
                    <input type="number" class="form-control" ng-required="required" min="0" max="24" [(ngModel)]="hoursPerDay[day]">
                </div>
            </div>
        </div>
        <div class="buttons">
            <div>
                <button type="button" class="btn btn-primary" (click)="close()">Close</button>
                <button type="button" class="btn btn-primary" (click)="save()">Save Changes</button>
            </div>
        </div>
    </div>
</div>