<article class="" style="background-color: white;position:absolute;top:0;width: 100%;height:100%" [style.display]="visible ? 'block' : 'none'">
    <h3>Editor</h3>
    <div style="height:80%">
        <div class="col-sm-3"  style="height:100%">
            <div class="formrow">
                <select class="dayofweek-selector assignment-editor-dayofweek" multiple="multiple" [(ngModel)]="assignments.daysOfWeek">
                </select>
            </div>
            <div class="formrow">
                <label>Hours per day:</label>
                <input type="number" ng-required="required" class="form-control" min="0" max="80" [(ngModel)]="assignments.hoursPerDay" style="width:100px">
                <br />
            </div>
        </div>
    </div>
    <div style="position:absolute;bottom:0px;height:10%;width:100%">
        <div style="height:100%;text-align:right">
            <button type="button" class="btn btn-primary" id="clearButton" (click)="close()" style="margin-right:10px;">Close</button>
            <button type="button" class="btn btn-primary" id="saverButton" (click)="save()" style="margin-right:40px;">Save Changes</button>
        </div>
    </div>
</article>