<div class="nav">
    <div class="appLogo">
        <img src="Images/IRMT_Icons_InsightLogo.png" alt="Insight" (contextmenu)="conextmenu($event)"/>
    </div>
    <div class="buttoncontainer" [style.display]="modal ? 'none' : 'block'">
        <!--<div class="buttonbox">
            <div class="button">
                <img src="Images/IRMT_NavIcons_Profile.png" alt="User" />
            </div>
        </div>-->
        <div class="buttonbox" [style.display]="addAssigmentAllowed ? 'block' : 'none'">
            <div class="button">
                <img src="Images/IRMT_NavIcons_AssignNewResource.png" (click)="addAssignment()" alt="Add" />
            </div>
        </div>
        <div class="buttonbox">
            <div class="button">
                <img src="Images/IRMT_NavIcons_SearchRefine.png" (click)="toggleFilters()" alt="Filters"/>
            </div>
        </div>
        <div class="buttonbox">
            <div class="button">
                <img src="Images/tempxls.png" (click)="export()" alt="Export to Excel" height="30" />
            </div>
        </div>
        <div class="buttonbox">
            <div class="button">
                <img src="Images/Email-icon.png" (click)="requestResource()" alt="Request a Resource" height="30" />
            </div>
        </div>
        <div class="buttonbox">
            <div class="button">
                <img src="Images/Columns-icon.png" (click)="editColumns()" alt="Edit Columns" height="30" />
            </div>
        </div>
    </div>
</div>