<article class="addAssignment" [style.display]="visible ? 'block' : 'none'">
    <h3>Add Assignment</h3>
    <resource-filters [mode]="'assignment'" (applyFiltersRequested)="applyFiltersRequested($event)" [applyTrigger]="applyFiltersTrigger"></resource-filters>

    <div class="panel">
        <div>
            <label [style.color]="tasksVisible ? '#000' : '#534742'">Project </label>
            <ui-switch [(ngModel)]="tasksVisible" color="#CC0057" size="small"></ui-switch>
            <label [style.display]="tasksVisible ? '#534742' : '#000'"> Task </label>
            
            <div [style.display]="tasksVisible ? 'none' : 'block'">
                <label>Project</label><br />
                <input class="form-control autocomplete"
                       auto-complete
                       auto-complete-placeholder="Select a project"
                       value-property-name="Id"
                       display-property-name="Name"
                       [(ngModel)]="project"
                       max-num-list="16"
                       min-chars="3"
                       [source]="projectSource"
                       [list-formatter]="projectListFormatter"
                       loading-text="Looking for projects..." />
                <a>
                    <img src="/Images/IRMT_Icons_NewProjectBtn.png" alt="Add project" (click)="addProject()" />
                </a>
            </div>
            <div [style.display]="tasksVisible ? 'block' : 'none'">
                <label>Task</label>
                <select id="assignmentTaskDropdown" class="form-control" [(ngModel)]="task">
                    <option *ngFor="let option of getTasks()" [value]="option.Id">{{option.Name}}</option>
                </select>
            </div>

            <div>
                <label>Start Date</label>
                <input type='date' class="form-control" [(ngModel)]="addAssignments.startDate" (input)="startDateChanged($event)" />
            </div>
            <div>
                <label>End Date</label>
                <input type='date' class="form-control" [(ngModel)]="addAssignments.endDate" (input)="endDateChanged($event)" />
            </div>
            <div>
                <div>
                    <label [style.display]="hoursPerDayVisible ? '#534742' : '#000'"> Hours per week </label>
                    <ui-switch [(ngModel)]="hoursPerDayVisible" color="#CC0057" size="small"></ui-switch>
                    <label [style.color]="hoursPerDayVisible ? '#000' : '#534742'">Hours per day </label>
 

                </div>
                <div class="form-group" [style.display]="hoursPerDayVisible ?'none' : 'block'" >
                    <input type="number" ng-required="required" class="form-control" min="0" max="168" [(ngModel)]="addAssignments.hoursPerWeek">
                    <!--<a>
                        <img src="/Images/IRMT_Icons_NewProjectBtn.png" alt="Open Add Client" (click)="openHoursPerDay()" />
                    </a>-->
                </div>
                <div class="form-group" [style.display]="hoursPerDayVisible ? 'block' : 'none'">
                    <div>
                        <input type="number" ng-required="required" class="form-control" min="0" max="16" [(ngModel)]="addAssignments.hoursPerDay">
                    </div>
                    <div class="row">
                        <select class="dayofweek-selector" multiple="multiple" [(ngModel)]="addAssignments.daysOfWeek"></select>

                        <!--<div class="col-sm-1">
                            <a>
                                <img src="/Images/IRMT_Icons_CloseBtn.png" width="16" style="padding-left:0" (click)="hoursPerDayVisible = true" alt="Return to Hours Per Week " />
                            </a>
                        </div>-->
                    </div>
                </div>

            </div>
        </div>
        <div>
            <timespan-grid id="resource"
                           [applyTrigger]="applyTrigger"
                           [gridConfig]="gridConfig"
                           [queryConfig]="queryConfig"
                           [currentDate]="currentDate"
                           [action]="action"
                           (refreshed)="refreshed($event)"
                           (dataRequested)="dataRequested($event)">
            </timespan-grid>
        </div>
    </div>
    <div class="buttons">
        <button type="button" class="btn btn-primary" id="clearButton" (click)="close()">Back</button>
        <button type="button" class="btn btn-primary" id="saverButton" (click)="save()" [disabled]="saving">Save Changes</button>
    </div>
</article>